<div class="content" role="main">
  <div class="row">
    <div class="col-md-6">
      <div
        class="container d-block py-2 text-center my-5 rounded text-fun border"
      >
        <h1 class="bold d-block">釣りに行った</h1>
        <p class="fs-5">Be back soon</p>
        <span>{{ pingas }}</span>
      </div>
      <div class="container rounded border player">
        <div class="row">
          <div class="col-6"><div class="player-bg"></div></div>
          <div class="col-6 mt-5">
            <p class="bold fs-5">Javaではありません</p>
            <p class="bold fs-6">ProroGramu</p>
          </div>
        </div>

        <div class="row pllayer-bar">
          <div class="col-4 border rounded text-center text-fun btn">
            <i class="mdi mdi-skip-previous mdi-36px"></i>
          </div>
          <div
            class="col-4 border rounded text-center text-fun btn"
            (click)="play()"
          >
            <i class="mdi mdi-play mdi-36px"></i>
          </div>
          <div class="col-4 border rounded text-center text-fun btn">
            <i class="mdi mdi-skip-next mdi-36px"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <img
        class="img-fluid rounded-circle fish"
        src="https://media4.giphy.com/media/5EC1dcwMZtD1WvWRHz/giphy.gif?cid=6c09b952qzfm8rf86gdy3e9t20j7gpwaeitcxkz93dkx2mfp&rid=giphy.gif&ct=s"
      />
    </div>
  </div>
</div>
